@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  overflow-x: hidden !important;
  font-family: 'Poppins';
}

.navbar-brand{
  width: 50%;
}

.hero_section{
  height:740px;
  width:100%;
  background-image:url("../img/index/hero_back.svg");
  background-repeat:no-repeat;
      background-position: 100% 80%;
      margin-top: -30px;
          background-size: contain;
  }
  .hero{
  justify-content: space-between
  }
  .hero_left{
      width: 40%;
      height: auto;
      float: left;
      margin-top: 50px;
      margin-left: 35px;
  }
  .hero__left{
  margin-left:35px;
      
  }
  .hero_btn{
    font-size: 14px;
    background: #033CFB;
    border-radius: 6px;
    
    
    border: 1px solid #033CFB;
    color: #fff;
    box-shadow: 0px 4px 7px 3px rgb(0 0 0 / 16%);
    padding: 14px 40px;
  }
  .hero_btn:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
  }

  .hero__left h1{
  font-size:55px;
  color:#000;
  margin-top: 130px;
  font-weight: 600;
  animation-name: backInDown;
  animation-duration:2s;
  }
  .hero__left p{
  animation-name: backInLeft;
  margin-top: 20px;
  font-size:18px;
  animation-duration:2s;
  }
    
  @keyframes backInLeft {
    0% {
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  @keyframes backInDown {
    0% {
      transform: translateY(-1200px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .hero_left_3 img{
  width:19px;
  margin-top:1px;
  margin-right:-10px;
  
  
  }
  @keyframes backInUp {
    0% {
      transform: translateY(1200px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .hero_right img{
      margin-top: 80px;
      width: 80%;
    margin-left:50px;
      
      transform-origin: center bottom;
      animation-duration: 2s;
  }
  .layer-1{
    position: absolute;
    left: 0;
    transition: cubic-bezier(0.4, 0, 1, 1) 0.7s all;
  }
  .layer-2{
    position: absolute;
    left: 0;
    transition: cubic-bezier(0.4, 0, 1, 1) 0.8s all;
  }
  .layer-3{
    position: absolute;
    left: 0;
    transition: cubic-bezier(0.4, 0, 1, 1) 0.7s all;
  }
  .layer-4{
    position: absolute;
    left: 0;
    z-index: -1;
    transition: cubic-bezier(0.4, 0, 1, 1) 0.6s all;
  }
  .hero_right{
  width:46%;
  }
  .hero_left_2{
  margin-top:-46px;
  margin-bottom: 20px;
  }
  /*--------------------------------------------------------------
  # clients
  --------------------------------------------------------------*/
  .clients {
    padding: 0;
    margin-top: 40px;
    background-color:#fbfbfb;
  }
  .clients_head h1{
      font-size: 37px;
  }
 
  .clients_heading_para p{
      font-size: 17px;
  }
  
  .clients_header h5{
  margin-top: -22px;
      margin-left: 74px;
      color: #033cfb;
      font-size:21px;
  
  }
  .clients_header h1{
    font-size:46px;
  margin-top:-30px;
  animation-duration: 2s;
  
  }
  .clients_header{
  margin-top:85px;
  
  }
  .clients_1{
  height: auto;
      background-color: #FBFCFC;
      
      margin-top: 170px;
  }
  .background{
  margin-top:20px;
  }
  .clients_logo{
  height:auto;
  margin-top:-100px;
  width:100%;
  
  border-radius:16px;
  
  }
  .clients_logo ul{
  list-style:none;
  width:100%;
  height:auto;
  text-align:center;
  
  }
  .clients_logo_1 {
      margin-top: 45px;
  }
  .clients_logo_1 ul li img{
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.2s ease-in-out;
    height: 100px!important;
  }
  .clients_logo_1 ul li:nth-child(6) img{
    opacity: 0.9;
    
  }
  .clients_logo_1 ul li:nth-child(5) img{
    opacity: 0.1;
  }
  .clients_logo_1 ul li:nth-child(4) img{
    opacity: 0.1;
    width:75px;
  }
  .clients_logo_1 ul li:nth-child(3) img{
    opacity: 0.1;
  }
  .clients_logo_1 ul li:nth-child(2) img{
    opacity: 0.4;
  }
  
  .clients_logo_1 ul li img:hover{
  filter:none;
  -webkit-filter:grayscale(0);
  opacity:1;
  -webkit-transform:scale(1.1);
  }
    
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .clients_logo ul li{
  text-align: center;
  margin-top:70px;
  }
  .clients_logo_1 ul li img{
  width:50%;
  color:#000000;
  height:200px;
  }
  
  @media (max-width: 992px) {
    .clients .container {
      padding: 30px;
    }
  }
  
  
  
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services{
  background-color:#FBFCFC;
  background-image:url("../img/index/services_back.svg");
  background-size: contain;
  background-repeat:no-repeat;
         background-position: 101% 80%;
         height:1000px;
  }
  .servies_head h1{
      font-size: 37px;
      margin-top: 200px;

  }
  .services_heading_para{
      font-size: 21px;

  }
  .services_header h5{
  margin-top: -22px;
      margin-left: 74px;
      color: #033cfb;
      font-size:21px;
  
  }
  .services_header img{
  margin-top:30px;
      
  }
  .services_header{
  margin-top:85px;
  }
  
  .services_header h1{
  font-size:46px;
  margin-top:-30px;
  
  }
  .services_body{
  width:1090px;
  height:350px;
  }
  .services_body img{
  margin-left:20px;
  margin-top:10px;
  }
  .services_body h4{
  margin-left:20px;
  margin-top:10px;
  font-size:22px;
  }
  .services_body p{
  margin-left: 20px;
      margin-top: 10px;
      color: #535353;
      font-size: 15px;
      text-align: revert;
  }
  .services_body a{
  text-decoration:none;
  margin-top:10px!important;
  color:#6976B8;
  margin-left:20px;
  }
  .services_body .services_arrow{
  text-decoration:none;
  color:#6976B8;
  margin-left:20px;
  }
  .services_left{
  float:left;
 
  box-shadow:0px 8px 30px 0px rgb(0 0 0 / 16%);
  height:315px;
  border-radius: 15px;
  width:306px;
  background:#fff;
  margin-left: 30px;
  margin-top: 25px;
      
  }
  .services_left:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);

  }
  .card_img_1{
    margin-top: 20px;;
  }
  .card_img_1 img{
    width: 35%;
  }
 .card_heading_1 h4{
 font-size:18px;
 margin-top: 20px;
 margin-left: 10px;
 }
  .card_para_1 p{
 
  color:#033CFB;
  font-size:15px;
  margin-left: 10px;
  }
 
 
  .card_a a{
  color:#000000!important;
  text-decoration: none;
  margin-left: 15px;
  }
  .card_a img{
  margin-left:20px;
  }
  .services_left:hover{
  
  
  }
  .services_middle{
  float:left;
  height:300px;
    transform: rotateY(30deg)!important;
  width:306px;
      box-shadow: 0px 0px 8px 13px #ededed;
  margin-left: 30px;
  background:#fff;
  border-radius: 15px;
   margin-top: 25px;
      margin-right: 20px;
  }
   .services_middle:hover{
   transform: rotateY(0deg)!important;
  
  }
  .services_right{
  float:left;
  height:300px;
    transform: rotateY(30deg)!important;
  width:306px;
  margin-left: 30px;
      box-shadow: 0px 0px 8px 13px #ededed;
  background:#fff;
   margin-top: 25px;
      margin-right: 20px;
      border-radius: 15px;
  }
   .services_right:hover{
   transform: rotateY(0deg)!important;
  
  }
.card_a a
  
  /*--------------------------------------------------------------
  # Design
  --------------------------------------------------------------*/
  .Design{
  width:100%;
  background:#768376;
  height:630px;
  background-image: url(../img/index/hero_back_img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 80%;
  }
  .design_main{
  width:1090px;
  background:#FBFCFC;
  height:550px;
  }
  .design_left{
    padding-top:17%;
    text-align: center;
  }
  .design_left img{
  width:70%;
  }
  .design_right{
  padding-top:22%;
  }
  .design_right ul{
  list-style-type:none;
  margin-top:90px;
  }
  .design_right ul li h1{
  color:#535353;
  margin-top: 150px;
  font-size:32px;
  }
  .design_right ul li p{
  color:#535353;
  font-size:17px;
  }
  .design_btn{
  color: #033cfb;
  background: #fff;
  border: 1px solid #033cfb;
  border-radius:4px;
  font-size:15px;
  padding: 8px 18px;
  font-weight: 500;
  }
  .design_btn:hover{
    background: #033cfb;
    color: #ffffff;
  }
  .design_btn:hover img{
    filter: brightness(100);
  }

  .design_btn img{
  margin-left:3px;
      margin-top: -2px;
  }
  /*--------------------------------------------------------------
  # Job
  --------------------------------------------------------------*/
 .job_head{
     font-size: 46px;
     margin-top: 206px;
 }
 .job_heading_para{
     font-size: 17px;
   
 }
 .logo-slider .item{
  padding: 25px;
 }
 .card{
  padding-bottom: 23px;
  border-radius: 25px;
  box-shadow: 0px 8px 30px 0px rgb(0 0 0 / 16%);
 }
 .item img{
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
 }
.item:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}
.slick-next:before {
    content:url(/assets/img/index/testi_arrow_right.png);
}
.slick-prev:before {
    content:url(/assets/img/index/testi_arrow_left.png);
}

  /*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
  
  .testi_section{
  background-image:url("../img/index/testi_back.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0%;
  height: 670px;
  
  }
  .testi_header_1 h5{
  margin-top: -22px;
  margin-left: 74px;
  color: #033cfb;
  font-size:21px;
  }
  .testi_header_1{
  margin-top:85px;
  }
  .testi_header_1 h1{
  font-size:46px;
  margin-top:-30px;
  }
  .testi_header_1 img{
  margin-left:10px;
  }
  /* Slideshow container */
  .slideshow-container {
       max-width: 80%;
      position: relative;
      margin: auto;
      padding: 50px 20px;
      height: auto!important;
    margin-top:55px;
      border-radius: 16px;
          background: #fff;
          box-shadow:0px 3px 30px 0px rgb(0 0 0 / 16%);
  }
  .slide_main{
  width:100%;
  justify-content:center;
  margin:auto;
  padding:auto;
  
  
  }
  .slide_main_1 p{
  margin:20px 20px 10px;
    text-align: center;
    color:#535353
  }
  .slide_main_2 img{
  width: 10%;
  }
  .slide_main_2{
    text-align: center;
    margin-top: 52px;
  }
  .testi_section{
    height: auto;
  }
  .slide_main_3 h3{
  color:#535353;
  text-align:center;
  font-size: 16px;
  }
  .slide_main_4{
  
  }
  .slide_main_4 p{
  color:#535353;
  text-align:center;
  font-size: 13px;
  margin-bottom: -40px;
  
  }
  
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: -46px;
    border-radius: 3px 0 0 3px;
  }
  .prev{
  left:-38px;
  }
  /* On hover, add a black background color with a little bit see-through */
  
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .testi .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #468DCB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,.testi .dot:hover {
    background-color: #468DCB;
    width:30px;
    border-radius:8px;
  }
  .avtive_1, .testi .dot:hover {
    background-color: #468DCB;
    width:50px;
    border-radius:8px;
  }
  
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /*--------------------------------------------------------------
  # Blogs
  --------------------------------------------------------------*/
  .blogs{
  background:#FBFCFC;
  width:100%;
  clear:both;
  height:auto;
  margin-top:140px;
  }
  .blog_2_1 img{
      border-radius: 16px;
      width: 100%;
  }
  .blog_2_2 img{
      width: 100%;
  }
  .blog_1_1 h5{
  margin-top: -22px;
      margin-left: 74px;
      color: #033cfb;
      font-size: 21px;
  
  }
  .blog_1_1 h1{
  font-size: 46px;
  margin-top:-34px;
  
  }
  .blog_main{
  width: 1092px;
      /* height: 700px; */
  overflow: hidden;
  }
  .upper {
  width:85%;
  margin:auto;
  }
   .upper_1 {
  width:427px;
  height:426px;
  }
  .blog_1{
  margin-top:135px;
  clear:both;
  
  }
  .blog_1_1{
  float:left;
  width:75%;
  margin-top: -42px!important;
  }
  .blog_1_2{
  float:right;
  width:17%;
  
  }
  .blog_1_2 img{
  margin-top:-90px;
  }
  .blog_2{
  width:100%;
  height:800px;
  z-index:-1;
  
  }
  .blog_2_1{
  
  float:left;
  z-index:-1;
  }
  .blog_2_2{
  
  float:right;
  z-index:-1;
  }
  .blog_2 img{
  
  
      z-index: -1;
      width: 515px;
      margin-left: 23px;
      margin-top: 100px;
          border-radius: 15px;
  
  }
  .blog_3{
  width:100%;
  height:100px;
  }
  .blog_3_1_1 {
      
    height: 167px;
    background: #FFFFFF;
    z-index: 0;
    margin-top: -110px;
    position: relative;
    width:347px;
    float: left;
    margin-left: 143px;
    box-shadow: 1px 1px 20px 3px #f7f8f8;
        }
      
      
      .blog_3_1_1 ul{
    list-style:none;
    width:100%;
    }
    .blog_3_1_1 li{
    float:left;
    margin-right:10px;
    }
    .blog_3_1_1 li p{
    color:#C7C5C4;
    font-size:14px;
    margin-top: 15px;
    }
    .blog_3_1_1 li img{
      margin-top: 16px;
    }
  .blog_3_1 {
      
  height: 167px;
  background: #FFFFFF;
  z-index: 0;
  margin-top: -110px;
  position: relative;
  width:347px;
  margin: auto;
  box-shadow: 0px -1px 10px 17px rgb(0 0 0 / 0.03);
      }
  .blog_3_1 ul{
  list-style:none;
  width:100%;
  }
  .blog_3_1 li{
  float:left;
  margin-right:5px;
  }
  .blog_3_1 li p{
  color:#C7C5C4;
  font-size:14px;
  margin-top: 15px;
  }
  .blog_heading h3{
  font-size:19px;
  }
  .blog_head{
  margin-top:100px;
  }
  .blog_btn{
  
    font-size: 15px;
    padding: 8px 18px;
    font-weight: 500;
  color:#535353;
  background:#f2f2f2;
  border:1px solid #535353;
  border-radius:4px;
  float: right;

  }
  .blog_btn:hover{
    background-color: #033CFB;
    color:#ffffff;
  }
  .blog_btn:hover img{
    filter: brightness(100);
  }
  .blog_btn img{
  margin-top:0px;
  margin-left:5px;
  }
  .blog_list{
  width:30%;
  padding-top:6px;
  }
  .upper img{
      border-radius: 16px;

  }
  .blog_heading{
      width: 100%;
      align-items: center;
      text-align: center;
      padding-top: 36px;
      font-size: 25px;
  }
  .blog_3_1 img{
  margin-top:16px;
  }
  
  
  
  .blog_3_2 {
      width: 40%;
      height: 200px;
      background: #FFFFFF;
      z-index: 10;
      margin-top: -111px;
      margin-right: 46px;
      position: relative;
      float: right;
      margin-left: 121px;
      box-shadow: 1px 1px 20px 3px #f7f8f8;
  }
  .blog_right_btn {
  margin-top:100px;
  }
  .blog_right_btn_botton{
    display: none;
  }
  
   .blog_right img{
 float:right
 }
  .blog_3_2 ul{
  list-style:none;
  width:100%;
  }
  .blog_3_2 li{
  float:left;
  margin-right:10px;
  }
  .blog_3_2 li p{
  color:#C7C5C4;
  }
  .blog_list{
  width:100%;
  padding-top:6px;
  }
  .blog_heading{
      width: 100%;
      align-items: center;
      text-align: center;
      color:#535353;
      padding-top: 36px;
      font-size: 25px;
  }
  .blog_3_2 img{
  margin-top:16px;
  }
  .lower{
    margin-top: -100px;
  }
  
  /*--------------------------------------------------------------
  # queto
  --------------------------------------------------------------*/
  .queto{
  height:275px;
  width:100%;
  }
  .queto_main{
      
      background-color: #ceecf7;
      background-image:url("../img/index/queto_back.png");
      background-repeat: no-repeat;
      z-index: 1000;
    height:180px;
      background-size: contain;
      margin-top: 30px!important;
      margin-bottom: -100px;
      position: relative;
      width: 100%;
      border-radius: 42px;
      box-shadow: 0px -1px 10px 17px rgb(0 0 0 / 0.03);
      }
      .queto_heading{
      width: 65%;
      height: auto;
      margin-top: 65px;
      float: left;
      margin-left: 88px;
      }
      .queto_image{
      width:25%;
      margin-top: 75px;
      float:left;
      }
  .empty{
      height: 200px;
      width: 100%;
      background: #0A143B;
  }
  .job_section{
    width: 100%;
    background-image: url("../img/index/job_back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 996px;
    padding-bottom: 500px;
    
    background-position: bottom;
  }
  .job_section_1{
    
  }
.queto_heading h1{
font-size:26px;
}
.queto_btn{
  padding: 14px 20px;
background:#fff;
border-radius:4px;
color::#707070;

border:none;
}
.queto_btn:hover{
  background-color: #033CFB;
  color: white;
}
.queto_btn:hover img{
  filter: brightness(100);
}
.job_header_heading_index{
  margin-top: 150px;
}
.active,.testi .dot:hover {
background-color: #468DCB;
width:30px;
border-radius:8px;
}
.avtive_1, .testi .dot:hover {
background-color: #468DCB;
width:50px;
border-radius:8px;
}


/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
.job_3_3{
margin-top:46px;
}
.footer_1_2 ul li:nth-child(4){
margin-top:3px;
}
.footer_mobile{
    display: none;
}

a:hover{
  text-decoration: none;
}
.icon{
  display: none;
  
  width: 70px;
    margin-top: -47px;
    float: right;
}
.clients_logo_1 ul li:nth-child(6) img{
    opacity: 0.9;
    
  }
  .queto_mobile{
    display: none;
    
  }
  .card_heading h3{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 23px;
}
  .card_learn ul{
    list-style-type: none;

  }
  .card_learn ul li{
    float: left;
  }
  .card_learn ul li a{
    text-decoration: none;
  }
  .card_learn ul li:nth-child(2){
    float: right;
    margin-top: 6px;
    margin-right: 25px;
  }
  .card_learn ul li:nth-child(1){
    margin-left: -10px;
  }
@media only screen and (max-width: 600px) {
  html, body{
    overflow-x: hidden !important;
  }
  .hero__left h1{
    font-size: 40px;
    margin-top: 50px;
    font-weight: 600;
  }
  .web-logo{
    width: 140px;
  }
  .hero__left{
    margin-left: 0;
  }
  .hero_right img{
  width:100%;
  margin-left: 0px;
  }
  .hero_right{
  width:100%;
  }
  .bgimagepadding{
    padding-bottom: 20px;
  }
  .clients_1{
    margin-top: 0px;
  }
  .clients_logo_1{
    margin-top: 55px;
  }
  .clients_logo_1 ul li img {
  margin-left:-33px;
  width: 80%;
  }
  .dis-blc{
    display: block;
  }
  .services{
  height:auto;
  }
  .servies_head h1{
    margin-top: 80px;
  }
  .services_left{
    margin-left: 0;
  }
  .col-reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  .design{
  height:auto;
  }
  .job_head{
    margin-top: 0;
  }
  .job_section{
  height:auto;
  background-position: 12%;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 100px;
  }
  .job_header_heading_index{
    margin-top: 0;
  }
  .job_section_1{
    margin-top: 0px;
  }
  .testi_heading_para br{
    display: none;
  }
  .slideshow-container{
  height:420px;
  }
  .slide_main_1 p{
    margin: 0;
  }
  .slide_main_2 img{
    width: 30%;
  }
  .slide_main{
    padding:  -1px 10px 0;
  }
  .blog_1{
    margin-top: 100px;
  }
  .blog_head{
    margin-top: 60px;
  }
  .blog_right_btn{
    display: none;
  }
  .blog_right_btn_botton{
    display: block;
    text-align: center;
  }
  .blog_btn{
    float: none;
  }
  .upper{
    width: 100%;
    text-align: center;
  }
  .upper_1{
    width: 100%;
  }
  .blog_3_1_1{
  margin-left:65px;
  width: 80%;
  }
  .upper_1{
  margin-left:25px;
  }
  .blog-img{
    width: 90%;
  }
  .blog_3_1{
  width: 80%;
  }
  .lower{
    margin-bottom: 40px;
  } 
  .blog_3_1 {
    height: 120px;
  }
  .blog_3_1 li p{
    font-size: 10px;
  }
  .blog_3_1 img{
    width: 80%;
  }
  .design_right {
  margin-left:25px;
  width:90%;
  }
  .design_right br{
    display: none;
  }
  .mb-dsgn-fnt{
    font-size: 35px;
  }
  .design_left img{
    width: 80%;
  }
  .queto_main{
    height: auto;
    margin-left: 2px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .queto_btn{
    margin-left: 86px;
    margin-top: -54px;
    margin-bottom: 20px;
  }
  .queto_heading{
    width: 100%;
  }
  .queto_heading{
    margin-left: 0px;
  }
  .empty{
    display: block;
  }
   .icon{
       display:block!important;
       position: fixed;
       bottom: 30px;
       right: 30px;
     }
    footer{
        display: none!important;
        visibility:hidden!important;

    }
    .footer_mobile{
    display: block!important;
    background-color: #0A143B;
    width: 100%;
    height: 366px;
    }
    .footer_mobile_1 img{
      padding-left: 44px;
    /* margin-top: -1px; */
    padding-top: 36px;
    }
    .new_1{
      color: #fff;
      margin-top: 0px;
      margin-top: 20px;
    margin-bottom: 42px;
      
    }
    .container_footer_mobile{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .container_footer_mobile a{
      text-decoration: none;
      color: #fff;
      font-size: 16px!important;
    }
    .footer_mobile_2 ul{
      list-style-type: none;
      width: 100%;
      margin-top: -50px;
      
    }
    .footer_mobile_2 ul li{
      float: left;
      
      
    }
    .footer_mobile_2 ul li:nth-child(1){
     
      width: 25%;
    margin-left: -27px;
    }
    .footer_mobile_2 ul li:nth-child(2){
      
      width: 40%;
    
    }
    .footer_mobile_2 ul li:nth-child(3){
      
      width: 5%;
    
    }
    .footer_mobile_2 ul li:nth-child(4){
      width: 25%;
      
      float: right;
    
    }

    .footer_mobile_2{
      width: 100%;
    }
    .footer_mobile_3 ul{
      list-style-type: none;
      width: 100%;
      margin-left: 26px;
      
    }
    .footer_mobile_3 ul li{
      float: left;
      margin-right: 36px;
      
    }
    .footer_mobile_3{
      width: 100%;
      margin-top: 63px;
      margin-left: -20px;
    }
    .footer_mobile_4{
        width: 100%;
        float: right;
    }
    .footer_mobile_4 ul{
        list-style-type: none;
        
        margin-top: 20px;
    margin-left: 18px;
        
    }
    .footer_mobile_4 ul li{
        float: left;
        margin-right: 41px;
    }
    .footer-copyright_mobile p{
      margin-left: 114px;
      font-size: 8px;
      color: #fff;
    }
    .footer-copyright_mobile{
      display: block;
      
    }
    
     .icon img{
     width: 56px;
    float: right;
    margin-top: 20px;
    z-index: 10;
     }
     .queto_main{
      display:none;
     }
      #close{
     display:none
      }
      .pop_btn{
        margin-left: 0px!important;
        background-color: #C0ECF7;
      }
      .modal.show .modal-dialog {
        transform: none;
        margin: 30px 26px 26px 38px;
    }
      #close_1{
        margin-top: -121px;
        margin-left: 222px;
      }
      #close_2{
        margin-top: -121px;
        margin-left: 222px;
      }
      .services_button{
        margin-top: 0px!important;
      }
      .services_button a{
        float: left!important;
      }
      .cto_heading h1 {
        margin-top: -35px;
      }

      .queto_btn{
      display:none;
      }
      .modal-dialog{
        width: 80%;
        margin: auto;
      }
      .modal-content{
        background: url("/assets/img/index/queto_mobile_back.jpg");
        border: none;
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
      }
  .queto_mobile_heading h3{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
  .queto_mobile_btn img{
    margin-top: 55px;
  }
  .queto_mobile_btn{
    text-align: center;
  }
  .btn-group-sm>.btn, .btn-sm {
    width: 100%!important;
  }
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .nav-item{
    margin-right: 0;
  }
  .modal-backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-backdrop.show{
  opacity: 1;
}
.nav-contact-btn-inner{
  display: block !important;
}
.nav-contact-btn-outer{
 display: none !important;
}
}
.nav-contact-btn-inner{
  display: none;
}
.nav-contact-btn-outer{
  display: block;
}
@media only screen and (min-width: 1400px) {
.navbar-collapse{
  margin-right: 0 !important;
}

}
/*--------------------------------------------------------------
about page start
--------------------------------------------------------------*/
/*--------------------------------------------------------------
about header
--------------------------------------------------------------*/
.bgimageabout{
  background-image: url("../img/about/about_hero_back.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:100%;
}

.about_hero{
  margin-top: 70px;
}
.about_hero_left{
  padding:30px 50px;
  width: 45%;
}
.about_hero_left h1{
  margin-top:70px; 
  font-weight:700;
  font-size:55px;
  
}
.about_hero_left p{
  font-size:18px;
   font-weight: 400;
   margin-top: 22px;
    text-align: inherit;
}
.about_hero_right {
  
}
.about_hero_right img{
  
  margin-left: 135px;
}

.about_values_head{
  margin-top: 100px;
  
}
.core_header_heading h1{
  font-weight:700;
   padding-top:20px;
   font-size: 37px;
}
.core_header_heading p{
  font-size:17px;
  font-weight:400;
}
.values_main{
  height: auto;
}
.about_criteria_left{
  
}
.about_criteria_right{
  
}
/*--------------------------------------------------------------
about value start
--------------------------------------------------------------*/

.values{
  background-image: url("../img/about/values_back.svg");
  background-repeat: no-repeat;
  background-position: 1% 0%;


}


.wrapper_1 .outer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:30px;
  margin-top:50px;
}
.wrapper_1 .vision_card{
  background: #fff;
  width: 430px;
  display: flex;
  height: auto;
  border-radius: 15px;
     
    margin-top: 350px;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;

  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .vision_card{
  animation-play-state: paused;
}
.wrapper_1 .vision_card:last-child{
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.vision_card .vision_content{
  
}
.wrapper_1 .vision_card .vision_img{
  height: 90px;
  width: 90px;
  position: absolute;
 
  
}
.vision_card .vision_img img{
  height: 100%;
  width: 100%;
 
  object-fit: cover;
 margin-left: -14px;
    /* margin-bottom: -13px; */
    margin-top: -9px;
}
.vision_card .vision_details{
  margin-left: 115px;
  margin-top: -6px;
}
.vision_card .vision_details p{
text-align:inherit;
font-size: 13px;
font-weight: 400;
}
.vision_details span{
  font-weight: 500;
  font-size: 16px;
}
.vision_card a{
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}
.vision_card a:hover{
  transform: scale(1);
}
/*--------------------------------------------------------------
# about vision Start
--------------------------------------------------------------*/
.vision{
  background-image: url("../img/about/vision_back.svg");
  background-repeat: no-repeat;
  background-position: 1% 0%;
}
.vision_head h1{
  font-size: 37px;
  font-weight: 700;
}
.vision_head p{
  font-size: 17px;
  font-weight: 400;

}
.middle_para{
 
}
.vision_main{
  
}
.vision_area_left{
  padding: 10px 70px;
}
.vision_area_left p{
  font-size: 17px;
  font-weight: 400;

  text-align: inherit;
}
.vision_area_right img{
  width: 85%;
  margin-left: 40px;

}
.upper_para {
  margin-top: 30px;
}
/*--------------------------------------------------------------
# about team Start
--------------------------------------------------------------*/
.team{
  background-image: url("../img/about/team_back.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.team_head{
  margin-top: 100px;

}
.team_head h1{
  font-size: 37PX;
  font-weight: 700;
}
.team_head p{
  font-size: 17px;
  font-weight: 400;
}
.designation p{
  font-size: 14px;
  color:#033CFB;
  padding-left: 20px;
}
.team_icons ul{
  list-style-type: none;
}
.team_icons ul li{
  float: left;
  margin-right: 20px;
}
.team_icons ul li img{
  
}
.card .job_show{
  display: none;
}
.card:hover .job_show {
  display: block;
  
}

.description p{
  font-size: 11px;
  margin-top: -27px;
  padding: 10px 20px;
}

/*--------------------------------------------------------------
# about work Start
--------------------------------------------------------------*/
.about_work{
  margin-top: 100px;

}
.about_work h1{
  font-size: 37px;
  font-weight: 700;
}
.stategy{
  height: 20px!important;
}
.stategy ul{
  list-style-type: none;
}
.stategy ul li{
  float: left;
  margin-right: 50px;
}
.stategy ul li p{
  font-size: 17px;
  font-weight: 600;
}
.research ul li p{
  font-size: 17px;
  font-weight: 600;
}
.Analysis ul li p{
  font-size: 17px;
  font-weight: 600;
}
.launch ul li p{
  font-size: 17px;
  font-weight: 600;
}


.line ul{
  list-style-type: none;
}
.line ul li{
  float: left;
}
.line ul li img{
  margin-left: -200px;
  margin-top: -20px;
}
.line ul li p{
  margin-left: -133px;
}
.research{
  height: 20px!important;
  margin-top: -38px;
}
.research ul{
  list-style-type: none;
}
.research ul li{
  float: left;
  margin-right: 50px;
}
.research_line ul{
  list-style-type: none;
}
.research_line ul li{
  float: left;
}
.research_line ul li img{
  margin-left: -186px;
  margin-top: -20px;
}
.research_line ul li p{
  margin-left: 74px;
}
.empty_work_2{

}
.Analysis{
  height: 20px!important;
  margin-top: -38px;
}
.Analysis ul{
  list-style-type: none;
}
.Analysis ul li{
  float: left;
  margin-right: 50px;
}
.analysis_line ul{
  list-style-type: none;
}
.analysis_line ul li{
  float: left;
}
.analysis_line ul li img{
  margin-left: -169px;
  margin-top: -20px;
}
.analysis_line ul li p{
  margin-left: -98px;
}
.design_line ul{
  list-style-type: none;
}
.design_line ul li{
  float: left;
}
.design_line ul li img{
  margin-left: -190px;
  margin-top: -20px;
}
.design_line ul li p{
  margin-left: -120px;
}
.production_line ul{
  list-style-type: none;
}
.production_line ul li{
  float: left;
}
.production_line ul li img{
  margin-left: -146px;
  margin-top: -20px;
}
.production_line ul li p{
  margin-left: -77px;
}
.launch{
  height: 20px!important;
  margin-top: -38px;
}
.launch ul{
  list-style-type: none;
}
.launch ul li{
  float: left;
  margin-right: 50px;
}
.launch_line ul{
  list-style-type: none;
}
.launch_line ul li{
  float: left;
}
.launch_line ul li img{
  margin-left: -176px;
  margin-top: -20px;
}
.launch_line ul li p{
  margin-left: -98px;
}
.empty_work{
  height: 140px;
  margin-top: -20px;
  display: none;
  
}
.empty_work_2{
  height: 140px;
  margin-top: -20px;
  display: none;

}
.empty_work_2 ul li{
  list-style-type: none;
  float: left;

}
.empty_work_2 ul li img{
  margin-left: -186px;
  margin-top: 3px;
}
.empty_work p{
  margin-left: 77px;
  margin-top: -19px;
}
.empty_work_2 p{
  margin-left: 77px;
  margin-top: -19px;
}
.empty_work_3{
  height: 140px;
  margin-top: -20px;
  display: none;

}
.empty_work_3 ul li{
  list-style-type: none;
  float: left;

}
.empty_work_3 ul li img{
  margin-left: -169px;
  margin-top: 3px;
}
.empty_work_3 p{
  margin-left: 77px;
  margin-top: -19px;
}
.empty_work_4{
  height: 140px;
  margin-top: -20px;
  display: none;

}
.empty_work_4 ul li{
  list-style-type: none;
  float: left;

}
.empty_work_4 ul li img{
  margin-left: -190px;
  margin-top: 3px;
}
.empty_work_4 p{
  margin-left: 77px;
  margin-top: -19px;
}
.empty_work_5{
  height: 140px;
  margin-top: -20px;
  display: none;

}
.empty_work_5 ul li{
  list-style-type: none;
  float: left;

}
.empty_work_5 ul li img{
  margin-left: -146px;
  margin-top: 6px;
}
.empty_work_5 p{
  margin-left: 77px;
  margin-top: -19px;
}
.launch_empty_work{
  height: 140px;
  margin-top: 0px;
  display: none;

}
.launch_empty_work ul{
  list-style-type: none;
}
.launch_empty_work ul li{
  float: left;
}
.launch_empty_work ul li img{
margin-left: -173px;
margin-top: -14px;
}
.empty_work ul{
  list-style-type: none;
}
.empty_work ul li{
  float: left;
}
.empty_work ul li img{
  margin-top: -1px;
  margin-left: -200px;
}

.work_right img{
  width: 100%;
}
.about_work p{
  font-size: 17px;
  font-weight: 400;
}
.work_main{
  margin-top: 20px;
}
.work_left{
  height: 600px;
}
.work_left_1{
  width: 10%;
}
.work_left_2 {
  width: 90%;
}
.work_left_2 ul{
  list-style-type: none;
}
.work_left_2 ul li h1{
  font-size: 17px;
  font-weight: 700;

}
.work_left_2 ul li p{
  font-size: 17px;
  font-weight: 300;
}
/*--------------------------------------------------------------
# FaQ  Start
--------------------------------------------------------------*/
.faq{
  background-image: url("../img/about/faq_back.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.faq_head h1{
  font-size: 37px;
  font-weight: 700;
}
.faq_head p{
  font-size: 17px;
  font-weight: 400;
}
.accordion{
  margin-top: 10px;
    width: 70%;
    /* margin-bottom: 1px; */
    padding-bottom: 20px;
}
.accordion-item{
  box-shadow:0px 6px 15px 0px rgb(0 0 0 / 16%);
  margin-bottom: 25px;
  border-radius: 15px;
}
/*--------------------------------------------------------------
# about Responsive Start
--------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .about_hero_left h1 {
    margin-top: 0px;
  }

  .about_hero_left{
    width: 100%;
    padding: 0px 25px;
  }
  .about_hero_right img{
    margin-left: 0px;
  }
  .values{
    height: 800px;
  }
  .wrapper_1 .vision_card{
    width: 100%;
  }
  .wrapper_1 .outer{
    margin-left: 0px;
  }
  .vision_area_right img {
    margin: 20px;
  }
  .faq{
    margin-top: 50px;
  }
  .accordion {
    width: 100%;
  }
  .work_left_1 img{
    height: 524px;
  }
  .work_left_1 {
    width: 13%;
  }
  .work_left_2{
    width: 87%;
  }
  .vision_area_left{
    padding: 0px 10px;
  }
  .middle_para {
    margin-top: 0px;
  }
  .line ul li p {
    font-size: 11px;
    margin-left: 59px;
  }
  .empty_work p {
   font-size: 11px;
   margin-left: 58px;
   margin-top: 0px;
  }
  .research_line ul li p {
    margin-left: 58px;
    font-size: 11px;
  }
  .empty_work_2 p {
    font-size: 11px;
    margin-top: -4px;
  }
  .analysis_line ul li p {
    margin-left: 57px;
    font-size: 11px;
  }
  .empty_work_3 p {
    font-size: 11px;
    margin-top: -2px;
  }
  .design_line ul li p {
    margin-left: 58px;
    font-size: 11px;
  }
  .empty_work_4 p {
    font-size: 11px;
    margin-top: -3px;
  }
  .production_line ul li p {
    margin-left: 59px;
    font-size: 11px;
  }
  .empty_work_5 p{
    font-size: 11px;
    margin-top: 0px;
  }
  .stategy ul li {
    margin-right: 37px;
  }
  .line ul li img{
    margin-left: -175px;
    margin-top: -15px;
  }
  .empty_work ul li img{
    margin-top: 0px;
    margin-left: -175px;

  }
  .research ul li {
    margin-right: 38px;
  }
  .research_line ul li img {
    margin-left: -162px;
    margin-top: -16px;
  }
  .empty_work_2 ul li img {
    margin-left: -162px;
    margin-top: 5px;
  }
  .empty_work_2 p {
    margin-left: 58px;
  }
  .Analysis ul li {
    margin-right: 38px;
  }
  .analysis_line ul li img{
    margin-left: -145px;
    margin-top: -16px;
  }
  .empty_work_3 ul li img {
    margin-left: -145px;
    margin-top: 4px;
  }
  .empty_work_3 p {
    margin-left: 60px;
  }
  .design_line ul li img {
    margin-left: -167px;
    margin-top: -16px;
  }
  .empty_work_4 ul li img {
    margin-left: -167px;
    margin-top: 5px;
  }
  .empty_work_4 p {
    margin-left: 58px;
  }
  .production_line ul li img {
    margin-left: -122px;
    margin-top: -13px;
  }
  .empty_work_5 ul li img {
    margin-left: -122px;
    margin-top: 5px;
  }
  .empty_work_5 p {
    margin-left: 60px;
  }
  .launch ul li {
    margin-right: 38px;
  }

















    

}

/*--------------------------------------------------------------
# Carrer Start
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# carrer hero Start
--------------------------------------------------------------*/
.bgimagecareer{
  background-image: url("../img/carrer/carrer_hero_back.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}


.career_hero{
  height:900px;
  width:100%;
  background-image:url("../img/carrer/hero_back.png");;
  background-repeat:no-repeat;
  margin-top:-31px;
      background-position: 100% 80%;
          background-size: contain;
  }
  .career_left{
      
      height: auto;
      float: left;
      margin-top: 100px;
      
      
  }
  .career_left_1 h1{
  font-size: 55px;
  font-weight: 600!important;
      
      animation-duration: 2s;
      font-weight: 700;
      line-height: 1.2em;
  }
  .career_left_2 p{
      margin-top: 30px;
      font-size: 18px;
      font-weight: 400;
  
  animation-duration:2s;
  }
    
  @keyframes backInLeft {
    0% {
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  @keyframes backInDown {
    0% {
      transform: translateY(-1200px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .career_right{

  height:auto;
  float:right;
  }
  .career_left_3 img{
  
  }
  @keyframes backInUp {
    0% {
      transform: translateY(1200px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .career_right img{
      width: 100%;
      height: 78%;
      margin-top: 90px;
      
  
      transform-origin: center bottom;
      animation-duration: 2s;
  }
  @keyframes bounce {
    from,
    20%,
    53%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
  
    80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    90% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
  .career_left_2{
  margin-top:-46px;
  }
  

/*--------------------------------------------------------------
# Start Criteria  Section
--------------------------------------------------------------*/

  .criteria{
    margin-top: 100px;
  }
  .criteria_header_heading h1{
    font-size: 37px;
    font-weight: 600;
  }
  .criteria_heading_para p{
    font-size: 18px;
    font-weight: 400;
  }
/*--------------------------------------------------------------
# career upper slider
--------------------------------------------------------------*/
 .hi-slide { position: relative; width: 800px; height: 400px; margin: 115px auto 0; }
            
.hi-slide .hi-next,
.hi-slide .hi-prev 
            { position: absolute;
              top: 50%; 
              width: 40px;
              height: 40px; 
              margin-top: -20px;     
                border-radius: 50px; 
                 
                
              line-height: 40px;
              text-align: center; 
              cursor: pointer;
              background-color: #fff; 
              color: black;               
              transition: all 0.6s;
              font-size: 20px; 
                font-weight: bold;
            }
           .hi-slide .hi-next:hover, 
            .hi-slide .hi-prev:hover 
            {
            opacity: 1; 
            background-color: #fff;  
            }
			
            
           .hi-slide .hi-prev { left: -60px; }
            
    .hi-slide .hi-prev::before {  }
    .hi-slide .hi-next { right: -60px; }
    .hi-slide .hi-next::before { }
    
            .hi-slide > ul
                    { 
                        list-style: none; 
                        position: relative;
                        width: 900px; 
                        height: 400px; 
                        margin: 0;
                        padding: 0;
            }
            
            
        .hi-slide > ul > li {
            overflow: hidden; 
            position: absolute; 
            z-index: 0; 
            left: 377px;
            top: 146px; 
            width: 0; 
            height: 0; 
            margin: 0; 
            padding: 0;
            border: 3px solid #fff;              
            background-color: #fff; 
            cursor: pointer; }
            
        .hi-slide > ul > li > .main_card{ width: 100%; height: 100%; background-position: cover;
        }
/*--------------------------------------------------------------
# start method section
--------------------------------------------------------------*/
.method_left ul{
  list-style-type: none;
}
.method_left ul li h1{
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
  padding: 0px 20px;
}
.method_left ul li p{
  font-size: 17px;
  font-weight: 400;
  padding: 0px 20px;
}
/*--------------------------------------------------------------
# start job section
--------------------------------------------------------------*/
.job{
  margin-top: 100px;
}
.job_header_heading h1{
  font-size: 37px;
  font-weight: 600;
}
.job_heading_para p{
  font-size: 18px;
  font-weight: 400;
}
.job_heading_para_2 p{
  font-size: 18px;
  font-weight: 400;
  padding: 30px;
  text-align: inherit;
}
.method_right img{
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .method_right IMG{
    width: 100%;
  }
  .method_left ul li h1{
    padding: 0px;
  }
  .method_left ul li p{
    padding: 0px;
  }
  

}
/*--------------------------------------------------------------
# Contact Us page start
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact Us hero Start
--------------------------------------------------------------*/
.contact_us_hero_right img{
  width: 100%;
  padding: 35px;

}
.contact_us_hero{
  margin-top: 60px;
}
.contact_us_hero_left_heading h1{
  font-size: 55px;
  font-weight: 600;
  margin-top: 100px;
}
/*--------------------------------------------------------------
# Contact Us address Start
--------------------------------------------------------------*/
.bgimagecontact{
  background-image: url("../img/contact_us/contact_hero_back.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}

.phone{
  width: 100%;
  height: 50px;
  margin-top: 33px;
  margin-bottom: -25px;
}
.phone ul{
  list-style-type: none;
  width: 100%;
}
.phone ul li{
  float: left;
  margin-right: 30px;
}
.email{
  width: 100%;
  height: 50px;
}
.email ul li{
  list-style-type: none;
  float: left;
  margin-right: 30px;
}
.location{
  width: 100%;
  height: 100px;
}
.location ul{
  list-style-type: none;
}
.location ul li{
  float: left;
  margin-right: 30px;
}
#name{
  width: 100%;
  background: none;
  padding: 10px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 3px;
  
}
input[type=text], select{ 
  border: 2px solid #033cfb;

}
#email{
  width: 100%;
  height: 35px;
  background: none;
  margin-bottom: 20px;
  border: 2px solid #033cfb;
  padding: 10px;
  border-radius: 3px;
  

}
#phone{
  width: 100%;
  height: 35px;
  background: none;
  margin-bottom: 20px;
  border: 2px solid #033cfb;
  padding: 10px;
  border-radius: 3px;
 

}
#website{
  width: 100%;
  margin-bottom: 20px;
  background: none;
  border: 2px solid #033cfb;
  height: 35px;
  padding: 10px;
  border-radius: 3px;
  
}
#message{
  width: 100%;
  margin-bottom: 20px;
  background: none;
  border: 2px solid #033cfb;
  padding: 10px;
  border-radius: 4px;
  
  

}
#submit{
  
  padding: 14px 50px;
  background-color: #033cfb;
  border: none;
  margin-left: 342px;
  
  margin-bottom: 20px;
  border-radius: 8px;
  color: #ffffff;
}
.fsd_heading h1{
  font-size: 28px;
  font-weight: 600;
}
.adress_left p{
  font-size: 17px;
  font-weight: 400;
}
.adress{
  margin-top: 180px;
  background-image: url("../img/contact_us/address_back.svg ");
  background-repeat: no-repeat;
  background-position: 1% 100%;
}
.map{
  margin-top: 100px;
  margin-bottom: 100px;
}
/*--------------------------------------------------------------
# services page Start
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# services page hero Start
--------------------------------------------------------------*/
.services_hero{
  margin-top: 100px;
}
.services_hero_left_heading h1{
  margin-top: 100px;
  font-size: 55px;
  font-weight: 600;
}
.services_hero_left_para p{
  font-size: 17px;
  font-weight: 400;
}
.services_hero_right img{
  width: 100%;
    padding: 30px;
    /* margin-bottom: -16px; */
    margin-top: -39px;
}
.service_card_img_1 img{
  width: 100%;
}
.service_card_img_1{
  margin-left: -12px;
  margin-right: -12px;
}
.services_main{
  margin-bottom: 50px;
}
.services_main_head{
  margin-top: 70px;
}
/*--------------------------------------------------------------
# Team Page Start
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Team Hero  Start
--------------------------------------------------------------*/
.team_hero_img{
  width: 80%;
}
.image_2 img{
  width: 70%;
  padding: 100px;
  margin-left: 151px;
}
.team_para p{
  padding: 50px;
  font-size: 18px;
  font-weight: 400;
}
.team_heading_1 h1{
  margin-top: 100px;
  font-size: 27px;
  font-weight: 600;
}
.team_heading_2 h1
{
  font-size: 27px;
  font-weight: 600;
}
.team_main_head{
  margin-top: 40px;
}
.pop_btn{
  border: none;
  margin-left: 315px;
}
.btn-secondary:hover{
  background: none;
  border: none;
}
 
.cto_heading h1{
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-left: 10px;
}
.job_des{
  margin: 10px 15px 50px 15px;
}
.job_des p{
  font-size: 15px;
  font-weight: 400;
}
.job_des h1{
  font-size: 20px;
  font-weight: 600;
}
.modal-content{
  border-radius: 15px;
}
.item_1 ul li img{
  width: 85px;
}
.item_1 ul li img:hover{
  opacity: 1;
  -webkit-filter: grayscale(0);
  opacity: 1;
  -webkit-transform: scale(1.1);
}

.logo-slider_1 .item_1 ul li:nth-child(2) img{
  width: 70px!important;
  opacity: 0.2!important;

}
.contact_us_form_left{
  float: left;
}
.contact_us_form_right{
  float: right;
}
.contact_us_form_heading h1{
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  margin-top: -20px;
}
.contact_us_form_para p{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.brochure__form__captcha{
  margin-left: 410px;
  margin-top: -100px;
}
.jobs_pop{
  background-image: url("../img/index/job_pop_back.svg");
  background-repeat: no-repeat;
  background-position: 80% 20%;
  background-size: contain;
}
.services_button {
  margin-top: 228px;
}
.services_button a{
  float: right;
}
.logo_2{
  opacity: 0.1;
  width: 100%;
  margin-left: -35px;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
.logo_1{
  opacity: 0.4;
  margin-left: -40px;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
.logo_3{
  opacity: 0.1;
  width: 70px!important;
  margin-left: -40px;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
.logo_4{
  opacity: 0.1;
  margin-left: -40px;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
.logo_5{
  opacity: 0.9;
  margin-left: -40px;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
#close{
  width: 17px;
  margin-left: 415px;
  margin-top: -26px;
  opacity: 0.6;
}
#close_1{
  width: 17px;
  margin-left: 411px;
    margin-top: -34px;
  opacity: 0.6;
}
#close_2{
  width: 17px;
  
  opacity: 0.6;
}
.contact_us_pop{
  background-image: url("../img/index/contact_us_pop_back.svg");
  background-repeat: no-repeat;
  background-position: 78% 98%;
}
#job_pop_button{
  padding: 14px 50px;
  background-color: #033cfb;
  border: none;
  margin-left: 320px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #ffffff;
}
#f_name{
  width: 100%;
  background: none;
  padding: 10px;

  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb;
  
}
#main_email{
  width: 100%;
  background: none;
  padding: 10px;
  
  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb!important;
}
#main_phone{
  width: 100%;
  background: none;
  padding: 10px;

  border: 2px solid #033cfb!important;
  margin-bottom: 20px;
  border-radius: 3px;
}
#main_website{
  width: 100%;
  background: none;
  padding: 10px;

  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb;
}
#main_message{
  width: 100%;
  border: 2px solid #033cfb;
}
#job_f_name{
  width: 100%;
  background: none;
  padding: 10px;

  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb;
  
}
#job_email{
  width: 100%;
  background: none;
  padding: 10px;
  
  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb!important;
}
#job_phone{
  width: 100%;
  background: none;
  padding: 10px;

  border: 2px solid #033cfb!important;
  margin-bottom: 20px;
  border-radius: 3px;
}
#position{
  width: 100%;
  background: none;
  padding: 10px;

  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb;
}
#date{
  width: 100%;
  background: none;
  padding: 10px;

  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb;

}
#file{
  width: 100%;
  background: none;
  padding: 10px;

  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #033cfb;
}
input#file-upload-button{
  color: #033cfb;
}
