<!DOCTYPE html>
<html>
    <head>
    {{- partial "head.html" . -}} 
</head>
<!--Start of Tawk.to Script
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/61220058649e0a0a5cd24efe/1fdmd2n3k';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    End of Tawk.to Script-->
    <body>
        <div class="preloader" id="preloader">
            
            <!--<div class="spinner-border " role="status">
            </div>  -->
            <img src="/assets/img/index/preloader.gif" class="preloader-img" alt="">
        </div>
       
        
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        <div id="fastSearch">
            <input id="searchInput" tabindex="0">
            <ul id="searchResults">
            </ul>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
          <script src="/assets/js/fastsearch.js"></script>
        {{- partial "footer.html" . -}}
              <div class="cursor"></div>
<script>

  // set the starting position of the cursor outside of the screen
var clientX = -100;
var clientY = -100;
var innerCursor = document.querySelector(".cursor");

var initCursor = function initCursor() {
    // add listener to track the current mouse position
    document.addEventListener("mousemove", function (e) {
        clientX = e.clientX;
        clientY = e.clientY;
    });

    // transform the innerCursor to the current mouse position
    // use requestAnimationFrame() for smooth performance
    var render = function render() {
        innerCursor.style.transform = 'translate(' + clientX + 'px, ' + clientY + 'px)';
        // if you are already using TweenMax in your project, you might as well
        // use TweenMax.set() instead
        // TweenMax.set(innerCursor, {
        //   x: clientX,
        //   y: clientY
        // });

        requestAnimationFrame(render);
    };
    requestAnimationFrame(render);
};

initCursor();
</script>
<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
<script>

  window.onload = function() {
  if (window.innerWidth > 767) {
    gsap.registerPlugin(ScrollTrigger);

    gsap.from('.testanimate', { 
      scrollTrigger:  { 
        trigger: ".testanimate", start: "0px 100%" 
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      x:-500,
      
      scale:0,
      opacity: 0,
    });
    gsap.from('.hero_para_anim', { 
      scrollTrigger:  { 
        trigger: ".hero_para_anim", start: "0px 100%"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.about_hero_right_anim', { 
      scrollTrigger:  { 
        trigger: ".bgimageabout", start: "0px 100%"
      }, 
      duration: 0.3, 
      delay: 2, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    //gsap.from('.upper_anim', { 
      //scrollTrigger:  { 
        //trigger: ".upper_anim", start: "0px 100%"
      //}, 
      //duration: 0.3, 
      //delay: 0.5, 
      //ease: "sine.out", 
      //y: -10,
    
      //scale:0,
      //opacity: 0,
    //});
    gsap.from('.lower_anim', { 
      scrollTrigger:  { 
        trigger: ".lower_anim", start: "0px 100%"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      y: 200,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.fade_left', { 
      scrollTrigger:  { 
        trigger: ".fade_left", start: "0px 100%"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.fade_left_anim', { 
      scrollTrigger:  { 
        trigger: ".fade_left_anim", start: "0px 100%"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.testi_head_anim', { 
      scrollTrigger:  { 
        trigger: ".testi_head_anim", start: "0px 100%"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.blog_head_anim', { 
      scrollTrigger:  { 
        trigger: ".blog_head_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.job_head_anim', { 
      scrollTrigger:  { 
        trigger: ".job_head_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.servies_head_anin_index', { 
      scrollTrigger:  { 
        trigger: ".servies_head_anin_index", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.fade_right', { 
      scrollTrigger:  { 
        trigger: ".fade_right", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      y:200,
    
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.design_left_anim', { 
      scrollTrigger:  { 
        trigger: ".design_left_anim", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      x:-500,
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.design_right_anim', { 
      scrollTrigger:  { 
        trigger: ".design_right_anim", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      x:500,
    
    
      scale:0,
      opacity: 0,
    });
   
    gsap.from('.core_header_heading_anim', { 
      scrollTrigger:  { 
        trigger: ".core_header_heading_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.about_criteria_left_anim', { 
      scrollTrigger:  { 
        trigger: ".about_criteria_left_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.vision_head_anim', { 
      scrollTrigger:  { 
        trigger: ".vision_head_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });



    gsap.from('.upper_para_anim', { 
      scrollTrigger:  { 
        trigger: ".upper_para_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.middle_para_anim', { 
      scrollTrigger:  { 
        trigger: ".middle_para_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.lower_para_anim', { 
      scrollTrigger:  { 
        trigger: ".lower_para_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.team_head_anim', { 
      scrollTrigger:  { 
        trigger: ".team_head_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.about_work_anim', { 
      scrollTrigger:  { 
        trigger: ".about_work_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.vision_area_right_anim', { 
      scrollTrigger:  { 
        trigger: ".vision_area_right_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.5, 
      ease: Circ.easeOut, 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.faq_head_anim', { 
      scrollTrigger:  { 
        trigger: ".faq_head_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: Circ.easeOut, 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.accordion_1', { 
      scrollTrigger:  { 
        trigger: ".accordion_1",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease:Power2.easeOut, 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.accordion_2', { 
      scrollTrigger:  { 
        trigger: ".accordion_2",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.7, 
      ease:Power2.easeOut, 
      x: 500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.accordion_3', { 
      scrollTrigger:  { 
        trigger: ".accordion_3",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1, 
      ease:Power2.easeOut, 
      y: 300,
    
      scale:0,
      opacity: 0,
    });

    


    gsap.from('.stategy_anim_1', { 
      scrollTrigger:  { 
        trigger: ".stategy_anim_1", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.line_1', { 
      scrollTrigger:  { 
        trigger: ".line_1", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.stategy_anim_2', { 
      scrollTrigger:  { 
        trigger: ".stategy_anim_2", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.9, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.line_2', { 
      scrollTrigger:  { 
        trigger: ".line_2", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.9, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.stategy_anim_3', { 
      scrollTrigger:  { 
        trigger: ".stategy_anim_3", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.2, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.line_3', { 
      scrollTrigger:  { 
        trigger: ".line_3", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.2, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.stategy_anim_4', { 
      scrollTrigger:  { 
        trigger: ".stategy_anim_4", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.line_4', { 
      scrollTrigger:  { 
        trigger: ".line_4", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.stategy_anim_5', { 
      scrollTrigger:  { 
        trigger: ".stategy_anim_5", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.7, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.line_5', { 
      scrollTrigger:  { 
        trigger: ".line_5", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.7, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.stategy_anim_6', { 
      scrollTrigger:  { 
        trigger: ".stategy_anim_6", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.work_right_anim', { 
      scrollTrigger:  { 
        trigger: ".work_right_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2.2, 
      ease: Expo.easeOut,
      x: 500,
    
      scale:0,
      opacity: 0,
    });







    gsap.from('.services_new_btn', { 
      scrollTrigger:  { 
        trigger: ".services_new_btn",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "elastic.out(1, 0.3)", 
      x:500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.blog_right_btn_anim', { 
      scrollTrigger:  { 
        trigger: ".blog_right_btn_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "elastic.out(1, 0.3)", 
      x:500,
    
      scale:0,
      opacity: 0,
    });
    
    
    gsap.from('.queto_main_anim', { 
      scrollTrigger:  { 
        trigger: ".queto_main_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "back.out(1.7)", 
      y:-200,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.web_anim', { 
      scrollTrigger:  { 
        trigger: ".services_new_btn",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "back.out(1.7)", 
      x:100,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.shopify_anim', { 
      scrollTrigger:  { 
        trigger: ".services_new_btn",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 

      ease: "back.out(1.7)", 
      y:500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.about_hero_left_anim', { 
      scrollTrigger:  { 
        trigger: ".bgimageabout",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 

      ease: "back.out(1.7)", 
      y:500,
    
      scale:0,
      opacity: 0,
    });
   
    // Career Page Start
    gsap.from('.career_left_1_anim', { 
      scrollTrigger:  { 
        trigger: ".career_left_1_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.career_left_2_anim', { 
      scrollTrigger:  { 
        trigger: ".career_left_2_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.career_left_3_anim', { 
      scrollTrigger:  { 
        trigger: ".career_left_3_anim", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      y:200,
    
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.criteria_head_anim', { 
      scrollTrigger:  { 
        trigger: ".criteria_head_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.method_left_anim', { 
      scrollTrigger:  { 
        trigger: ".method_left_anim", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      x:-500,
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.method_right_anim', { 
      scrollTrigger:  { 
        trigger: ".method_right_anim", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      x:500,
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.job_header_anim', { 
      scrollTrigger:  { 
        trigger: ".job_header_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    // Career Page End
    // Contact Page Start
    gsap.from('.contact_us_hero_left_anim', { 
      scrollTrigger:  { 
        trigger: ".bgimagecontact",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 

      ease: "back.out(1.7)", 
      y:500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.contact_us_hero_right_anim', { 
      scrollTrigger:  { 
        trigger: ".bgimagecontact", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.fsd_heading_anim', { 
      scrollTrigger:  { 
        trigger: ".fsd_heading_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });



    gsap.from('.phone_anim', { 
      scrollTrigger:  { 
        trigger: ".phone_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.email_anim', { 
      scrollTrigger:  { 
        trigger: ".email_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.location_anim', { 
      scrollTrigger:  { 
        trigger: ".location_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.f_name_anim', { 
      scrollTrigger:  { 
        trigger: ".f_name_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.main_email', { 
      scrollTrigger:  { 
        trigger: ".main_email", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.7, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.main_phone_anim', { 
      scrollTrigger:  { 
        trigger: ".main_phone_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.9, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.main_website_anim', { 
      scrollTrigger:  { 
        trigger: ".main_website_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.1, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.main_message_anim', { 
      scrollTrigger:  { 
        trigger: ".main_message_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 1.3, 
      delay: 1.3, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.contact_us_page_submit_anim', { 
      scrollTrigger:  { 
        trigger: ".contact_us_page_submit_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1.5, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    // Contact Page End
    // Services Page start
    gsap.from('.services_hero_left_anim', { 
      scrollTrigger:  { 
        trigger: ".bgimageservices",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2, 

      ease: "back.out(1.7)", 
      y:500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.services_hero_right_anim', { 
      scrollTrigger:  { 
        trigger: ".bgimageservices", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2, 
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.clients_head_anim', { 
      scrollTrigger:  { 
        trigger: ".clients_head_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.services_left_anim', { 
      scrollTrigger:  { 
        trigger: ".services_left_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease:Bounce.easeOut,
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    // Services Page end
    gsap.from('.team_main_head', { 
      scrollTrigger:  { 
        trigger: ".team_main_head",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.team_hero_img', { 
      scrollTrigger:  { 
        trigger: ".team_hero_img",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 2, 
      ease: "back.out(1.7)", 
      y:-200,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.team_heading_1', { 
      scrollTrigger:  { 
        trigger: ".team_heading_1",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.team_para', { 
      scrollTrigger:  { 
        trigger: ".team_para",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.team_heading_2', { 
      scrollTrigger:  { 
        trigger: ".team_heading_2",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.image_2', { 
      scrollTrigger:  { 
        trigger: ".image_2",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 1, 
      ease:Elastic.easeOut.config(1,0.3), 
      y: -500,
      scale:0,
      opacity: 0,
    });
    gsap.from('.team_para_mobile', { 
      scrollTrigger:  { 
        trigger: ".team_para_mobile",  toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });



  }
}
</script>
    </body>
</html>
