<!DOCTYPE html>
<html>
    <head>
    {{- partial "head.html" . -}}
</head>
    <body>
        <div class="preloader" id="preloader">
            
            <!--<div class="spinner-border " role="status">
            </div>  -->
            <img src="/assets/img/index/preloader.gif" class="preloader-img" alt="">
        </div>
       
        
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        <div id="fastSearch">
            <input id="searchInput" tabindex="0">
            <ul id="searchResults">
            </ul>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
          <script src="/assets/js/fastsearch.js"></script>
        {{- partial "footer.html" . -}}
         <div class="cursor"></div>
<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
<script>

  window.onload = function() {
  if (window.innerWidth > 767) {
    gsap.registerPlugin(ScrollTrigger);

    gsap.from('.testanimate', { 
      scrollTrigger:  { 
        trigger: ".testanimate", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      x:-500,
      
      scale:0,
      opacity: 0,
    });
    gsap.from('.hero_para_anim', { 
      scrollTrigger:  { 
        trigger: ".hero_para_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 2.5,
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.upper_anim', { 
      scrollTrigger:  { 
        trigger: ".upper_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 2.5,
      ease: "sine.out", 
      y: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.lower_anim', { 
      scrollTrigger:  { 
        trigger: ".lower_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 2.5,
      ease: "sine.out", 
      y: 200,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.fade_left', { 
      scrollTrigger:  { 
        trigger: ".fade_left", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.testi_head_anim', { 
      scrollTrigger:  { 
        trigger: ".testi_head_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.blog_head_anim', { 
      scrollTrigger:  { 
        trigger: ".blog_head_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.job_head_anim', { 
      scrollTrigger:  { 
        trigger: ".job_head_anim", start: "0px 100%" ,toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      ease: "sine.out", 
      x: -500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.fade_right', { 
      scrollTrigger:  { 
        trigger: ".fade_right", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 0.3, 
      delay: 0.5, 
      
      y:200,
    
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.design_left_anim', { 
      scrollTrigger:  { 
        trigger: ".design_left_anim", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 2, 
      delay: 0.5, 
      
      x:-500,
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.design_right_anim', { 
      scrollTrigger:  { 
        trigger: ".design_right_anim", start: "0px 100%" , toggleActions:"restart none restart none"
      }, 
      duration: 2, 
      delay: 0.5, 
      
      x:500,
    
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.clients_header_heading_anim', { 
      scrollTrigger:  { 
        trigger: ".clients_header_heading_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 1,
      ease: "elastic.out(1, 0.3)", 
      x:-500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.services_header_heading_anim', { 
      scrollTrigger:  { 
        trigger: ".services_header_heading_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 1,
      ease: "elastic.out(1, 0.3)", 
      x:-500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.services_new_btn', { 
      scrollTrigger:  { 
        trigger: ".services_new_btn",  toggleActions:"restart none restart none"
      }, 
      duration: 1,
      ease: "elastic.out(1, 0.3)", 
      x:500,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.blog_right_btn_anim', { 
      scrollTrigger:  { 
        trigger: ".blog_right_btn_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 1,
      ease: "elastic.out(1, 0.3)", 
      x:500,
    
      scale:0,
      opacity: 0,
    });
    
    
    gsap.from('.queto_main_anim', { 
      scrollTrigger:  { 
        trigger: ".queto_main_anim",  toggleActions:"restart none restart none"
      }, 
      duration: 2,
      ease: "back.out(1.7)", 
      y:-200,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.web_anim', { 
      scrollTrigger:  { 
        trigger: ".services_new_btn",  toggleActions:"restart none restart none"
      }, 
      duration: 2,
      ease: "back.out(1.7)", 
      x:100,
    
      scale:0,
      opacity: 0,
    });
    gsap.from('.shopify_anim', { 
      scrollTrigger:  { 
        trigger: ".services_new_btn",  toggleActions:"restart none restart none"
      }, 
      duration: 2,

      ease: "back.out(1.7)", 
      y:500,
    
      scale:0,
      opacity: 0,
    });
   
  }
}

  // set the starting position of the cursor outside of the screen
var clientX = -100;
var clientY = -100;
var innerCursor = document.querySelector(".cursor");

var initCursor = function initCursor() {
    // add listener to track the current mouse position
    document.addEventListener("mousemove", function (e) {
        clientX = e.clientX;
        clientY = e.clientY;
    });

    // transform the innerCursor to the current mouse position
    // use requestAnimationFrame() for smooth performance
    var render = function render() {
        innerCursor.style.transform = 'translate(' + clientX + 'px, ' + clientY + 'px)';
        // if you are already using TweenMax in your project, you might as well
        // use TweenMax.set() instead
        // TweenMax.set(innerCursor, {
        //   x: clientX,
        //   y: clientY
        // });

        requestAnimationFrame(render);
    };
    requestAnimationFrame(render);
};

initCursor();
</script>

    </body>
</html>
