<!DOCTYPE html>
<html>
    <head>
    {{- partial "head.html" . -}}
</head>
<!--Start of Tawk.to Script
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/61220058649e0a0a5cd24efe/1fdmd2n3k';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    End of Tawk.to Script-->
    <body>
        <div class="preloader" id="preloader">
            
            <!--<div class="spinner-border " role="status">
            </div>  -->
            <img src="/assets/img/index/preloader.gif" class="preloader-img" alt="">
        </div>
       
        
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        <div id="fastSearch">
            <input id="searchInput" tabindex="0">
            <ul id="searchResults">
            </ul>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
          <script src="/assets/js/fastsearch.js"></script>
        {{- partial "footer.html" . -}}
        
        <script>
          AOS.init();
        </script>       <div class="cursor"></div>
<script>

  // set the starting position of the cursor outside of the screen
var clientX = -100;
var clientY = -100;
var innerCursor = document.querySelector(".cursor");

var initCursor = function initCursor() {
    // add listener to track the current mouse position
    document.addEventListener("mousemove", function (e) {
        clientX = e.clientX;
        clientY = e.clientY;
    });

    // transform the innerCursor to the current mouse position
    // use requestAnimationFrame() for smooth performance
    var render = function render() {
        innerCursor.style.transform = 'translate(' + clientX + 'px, ' + clientY + 'px)';
        // if you are already using TweenMax in your project, you might as well
        // use TweenMax.set() instead
        // TweenMax.set(innerCursor, {
        //   x: clientX,
        //   y: clientY
        // });

        requestAnimationFrame(render);
    };
    requestAnimationFrame(render);
};

initCursor();
</script>

    </body>
</html>
