</div>
</div>

<footer id="footer" class="footer-1" style="margin-bottom: -25px;">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">
        <div class="footer_main col-md-12" style="justify-content: space-between">


          <div class="footer_1_1 col-md-3">
            <img src="/assets/img/index/footer_logo.svg" class="image-fluid" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 company">
            <div class="widget no-box">
              <h5 class="widget-title">Company</h5>
              <ul class="thumbnail-widget">

                <li><a href="/about">About</a></li>
                
                <li><a href="/blog">Blog</a></li>
                <li><a href="/career">Careers</a></li>
                <li><a href="/contact_us">Contact</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 services_footer">
            <div class="widget no-box">
              <h5 class="widget-title">Services</h5>
              <ul class="thumbnail-widget">

                <li><a href="#">Discovery Workshop</a></li>
                <li><a href="#">MVP development</a></li>
                <li><a href="#">On-demand tech talent</a></li>
                <li><a href="#">Tech audit & Advisory</a></li>
              </ul>
            </div>
          </div>

          <div class="footer_1_2 col-md-3 col-sm-8 col-xs-12">
            <div class="footer_clients_heading">
              <h1>
                New Customers
              </h1>
            </div>
            <div class="footer_clients_para">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce finibus pellentesque lorem et lobortis.
                Sed ornare luctus justo, sit amet aliquam nisi iaculis in.
              </p>
            </div>
            <div class="icons_footer">
              <ul>
                <li><a href="#"><img src="/assets/img/index/twitter.svg" /></a></li>
                <li><a href="https://www.facebook.com/softigh/"><img src="/assets/img/index/facebook.svg" /></a></li>
                <li><a href="https://pk.linkedin.com/company/softigh"><img src="/assets/img/index/linkedin.svg" /></a>
                </li>
                <li><a href="#"><img src="/assets/img/index/youtube.svg" /></a></li>
              </ul>
            </div>
          </div>


        </div>
        <br />
        <br />
        <hr class="new_1" />
      </div>
    </div>




    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>© Softigh2021</p>
          </div>
        </div>
      </div>
    </div>
</footer>
<div class="fluid-container footer_mobile">
  <div class="container_footer_mobile">
    <div class="footer_mobile_1">
      <img src="/assets/img/index/footer_logo.svg" class="image-fluid" />
    </div>
    <br />
    <hr class="new_1" />
    <br />
    <div class="footer_mobile_2">
      <ul>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Case studies</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Term&Conditions</a>
        </li>
      </ul>
    </div>
    <div class="footer_mobile_4">

      <ul>
        <li><a href="#"><img src="/assets/img/index/twitter.svg" /></a></li>
        <li><a href="https://www.facebook.com/softigh/"><img src="/assets/img/index/facebook.svg" /></a></li>
        <li><a href="https://www.linkedin.com/company/softigh/"><img src="/assets/img/index/linkedin.svg" /></a></li>
        <li><a href="#"><img src="/assets/img/index/youtube.svg" /></a></li>
      </ul>
    </div>
    <div class="footer-copyright_mobile">
      <p>© Softigh2021</p>
    </div>
  </div>

</div>




<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>