{{ define "main" }}
</div>
</div>
</div>
<div class="container-fluid">
    <div class="container">
        
        <div class="row">
            <div class="blog_main_head col-md-12 col-sm-12 col-xs-12">
                <div class="blog_main_header_heading">
                    <h1><span style="color:#033cfb;">Our</span> Blogs</h1>
                </div>
                <div class="blog_main_heading_para">
                    <p>What we write?</p>
                </div>
            </div>
            <div class="search_mobile">
                <form action="">
                    <input type="search" name="search" placeholder="searh..." id="search">
                </form>
    
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="blog_main_left col-md-8 mx-auto">
                    {{ range first 6 (where .Site.Pages "Type" "blogs") }}
            <a href="{{ .RelPermalink }}">
            <div class="blog_main__left_1 col-md-8 col-sm-12 col-xs-12">
                <div class="blog_main_card_img_1"><img class="img-fluid" src="{{ .Params.image }}"></div>
                <div class="card_desc">
                    <h4>{{ .Params.desc }}</h4>
                </div>
                <div class="blog_main_list">
                    <ul>
                        <li><img src="/assets/img/blogs/avatar.jpg" alt="" style="width: 30px; border-radius: 60px;"></li>
                        <li><p>{{ .Params.name }}</p></li>
                        <li><img src="{{ .Params.clock }}" alt=""></li>
                        <li><p>{{ .Params.time }}</p></li>
                        <li><p>{{ .PublishDate.Format "02 Jan 2006" }}</p></li>
                    </ul>
                </div>
            </div>
            </a>
            {{ end }}
            </div>
            
            
            <div class="blog_maim_right col-md-4">
                <div class="search">
                    <form action="">
                        <input type="search" name="search" placeholder="searh..." id="search">
                    </form>

                </div>
                <div class="category">
                    <h1>
                        Category
                    </h1>
                </div>
                <div class="category_detail">
                    <h1>
                        Digital
                    </h1>
                    <hr>
                    <h1>
                        Innovative
                    </h1>
                    <hr>
                    <h1>
                        Creative
                    </h1>
                    <hr>
                    <h1>
                        Culture
                    </h1>
                    <hr>
                    <h1>
                        Products
                    </h1>
                    <hr>
                    <h1 style="padding-bottom: 20px;">
                        Business
                    </h1>
                    
                </div>
                <div class="top_blogs">
                    <h1>
                        Top Blogs
                    </h1>
                </div>
                
                {{ range first 6 (where .Site.Pages "Type" "blogs") }} 
                    <div class="top_blogs_detail">
                        <div class="top_blogs_details_left">
                            <p>{{ .Params.desc }}</p>

                            <div class="top_blog_list">
                                <ul>

                                    <li><img src="/assets/img/blogs/clock.svg" alt=""></li>
                                    <li>
                                        <p>{{ .Params.time }}</p>
                                    </li>
                                    <li>
                                        <p>{{ .PublishDate.Format "02 Jan 2006" }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="top_blogs_details_right">
                            <img src="{{ .Params.image }}" alt="" style="width: 85px">
                        </div>
                    </div>
                {{ end }}
                <div class="tags">
                    <div class="tags_heading">
                        <h1>
                            Tags
                        </h1>
                    </div>
                    <div class="tag_main">
                        <div class="tag1">
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Development</a></li>
                            </ul>
                        </div>
                        <br>
                        <div class="tag2">
                            <ul>
                                <li><a href="#">WordPress</a></li>
                                <li><a href="#">Material</a></li>
                                <li><a href="#">Arts</a></li>

                            </ul>
                        </div>
                        <br>
                        <div class="tag3">
                            <ul>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Webdesign</a></li>
                            </ul>
                        </div>
                        <br>
                        <div class="tag4">
                            <ul>
                                <li><a href="#">Marketing</a></li>
                                
                            </ul>
                        </div>



                    </div>

                </div>
                <div class="blog_main_empty">
                    &nbsp;
                </div>

                
                
            </div>

        </div>
    </div>
</div>
{{ end }}