{{ define "main" }}
<!-- Start index hero -->

<div class="container">
    <div class="row hero">
        <div class="hero__left col-md-6 col-sm-12 col-xs-12">
            <div class="hero_left_1">
                <h1><b>It's Time to<br /> <span style="color:#033cfb;">Shine<span
                            style="color:#000;">,</span>Innovate</span><br><span style="color:#000;">and</span><span
                        style="color:#033cfb;"> Think Big<span style="color:#000;">.</span></span></b></h1><br>
            </div>
            <div class="hero_left_2">
                <p>Listening to your needs and answering with an innovative solution.
                </p>
            </div>
            <div class="hero_left_3">
                <button type="button" class="hero_btn">Get a Quote<img src="/assets/img/index/hero_arrow.png" /></button>
            </div>

        </div>
        <div class="hero_right col-md-6 col-sm-12 col-xs-12" data-aos="fade-down"
 data-aos-easing="linear"
 data-aos-duration="1500">
            <img class="img-fluid" src="/assets/img/index/hero_img.png" class="img-fluid" alt="" />

        </div>

    </div>
</div>
</div>
</div>
</div>
<!-- End index hero Section -->
<!-- Start core Values Section -->
<div class="container-fluid clients_1">
    <div class="container">
        <div class="row">
            <div class="clients_head col-md-12 col-sm-12 col-xs-12" data-aos="fade-right"data-aos-offset="300"data-aos-easing="ease-in-sine">
                <div class="clients_header_heading">
                    <h1 class="display-5" style="font-weight:700;"><span style="color:#033cfb;">Our</span> Clients
                    </h1>
                </div>
                <div class="clients_heading_para">
                    <p style="font-size:17px;font-weight:400;">we offer businesses, large and small, software<br />development services</p>
                </div>
            </div>
        </div>
        <div class="row">
            
                <div class="container">
                    <div class="clients_logo col-md-12 col-sm-12 col-xs-12">
                        <div class="clients_logo_1" data-aos="fade-right">
                            <div class="row clients_logo_1 ">
                            <ul class="list-inline">
                                <li class="list-inline-item col-md-2 col-sm-12 col-xs-12"><img src="/assets/img/index/logo_1.svg"></li>
                                <li class="list-inline-item col-md-2 col-sm-12 col-xs-12"><img src="/assets/img/index/logo_2.svg"></li>
                                <li class="list-inline-item col-md-2 col-sm-12 col-xs-12"><img src="/assets/img/index/logo_3.svg"></li>
                                <li class="list-inline-item col-md-2 col-sm-12 col-xs-12"><img src="/assets/img/index/logo_4.svg"></li>
                                <li class="list-inline-item col-md-2 col-sm-12 col-xs-12"><img src="/assets/img/index/logo_5.svg"></li>
                            </ul>
                            </div>
                        </div>

                    </div>
                </div>
        
        </div>
    </div>
</div>


{{ end }}