{{ range .Site.Data.blog_main }}
<a href="/blog_sub">
            <div class="blog_main__left_1 col-md-8 col-sm-12 col-xs-12">
                <div class="blog_main_card_img_1"><img class="img-fluid" src="{{ .icon }}"></div>
                <div class="card_desc">
                    <h4>{{ .desc }}</h4>
                </div>
                <div class="blog_main_list">
                    <ul>
                        <li><img src="{{ .image }}" alt=""></li>
                        <li><p>{{ .name }}</p></li>
                        <li><img src="{{ .clock }}" alt=""></li>
                        <li><p>{{ .time }}</p></li>
                        <li><p>{{ .date }}</p></li>
                    </ul>
                </div>
            </div>
            </a>
            {{ end }}