
    <div class="services_left col-md-4 col-sm-12 col-xs-12 services_left_anim">
        <a href="/data_recovery">
        <div class="service_card_img_1"><img class="img-fluid" src="/assets/img/services/service_1.svg"></div>
        <div class="card_heading_1">
            <h4>Dedicated Team</h4>
        </div>
        <div class="card_para_1">
            <p>Companies today leverage outsourcing software development to stay competitive</p>
        </div>
    </a>
    </div>
    <div class="services_left col-md-4 col-sm-12 col-xs-12 services_left_anim">
        <a href="/business">
        <div class="service_card_img_1"><img class="img-fluid" src="/assets/img/services/services_2.svg"></div>
        <div class="card_heading_1">
            <h4>Business Process Management</h4>
        </div>
        <div class="card_para_1">
            <p>oftigh Provide Business Process Management Software solution to manage the complete lifecycle</p>
        </div>
    </a>
    </div>
    <div class="services_left col-md-4 col-sm-12 col-xs-12 services_left_anim">
        <a href="/product">
        <div class="service_card_img_1"><img class="img-fluid" src="/assets/img/services/services_3.svg"></div>
        <div class="card_heading_1">
            <h4>Product Development</h4>
        </div>
        <div class="card_para_1">
            <p>Our Product Designers bring new product ideas & inventions to life and make an impact in the market</p>
        </div>
    </a>
    </div>
    <div class="services_left col-md-4 col-sm-12 col-xs-12 services_left_anim">
        <a href="/mobile">
        <div class="service_card_img_1"><img class="img-fluid" src="/assets/img/services/services_5.svg"></div>
        <div class="card_heading_1">
            <h4>Mobile Application Development</h4>
        </div>
        <div class="card_para_1">
            <p>Softigh offer a full cycle of application design, integration and management services</p>
        </div>
    </a>
    </div>
    <div class="services_left col-md-4 col-sm-12 col-xs-12 services_left_anim">
        <a href="/elearning">
        <div class="service_card_img_1"><img class="img-fluid" src="/assets/img/services/services_8.svg"></div>
        <div class="card_heading_1">
            <h4>Search Engine Optimization</h4>
        </div>
        <div class="card_para_1">
            <p>In the years since search engines like Google and Ask launched, search engine algorithms</p>
        </div>
    </a>
    </div>
    <div class="services_left col-md-4 col-sm-12 col-xs-12 services_left_anim">
        <a href="/web">
        <div class="service_card_img_1"><img class="img-fluid" src="/assets/img/services/services_9.svg"></div>
        <div class="card_heading_1">
            <h4>Web Development</h4>
        </div>
        <div class="card_para_1">
            <p>Softigh always aim to offer you top quality web development solutions</p>
        </div>
    </a>
    </div>
    <div class="services_left col-md-4 col-sm-12 col-xs-12 services_left_anim">
        <a href="/it_consultancy">
        <div class="service_card_img_1"><img class="img-fluid" src="/assets/img/services/it.svg"></div>
        <div class="card_heading_1">
            <h4>Shopify Development</h4>
        </div>
        <div class="card_para_1">
            <p>Softigh develop high quality Shopify Solutions We develop your Shopify Plus ecommerce</p>
        </div>
    </a>
    </div>