<!-- Start Team Section -->
<div class="fluid-container team">
    <div class="container">
        <div class="row team_head" style="margin-top:150px;">
            <div class="col-md-12 col-sm-12 col-xs-12" data-aos="fade-right">
                <div>
                    <h1 class="display-5"><span style="color:#033cfb;">Our</span> Team
                    </h1>
                </div>
                <div>
                    <p>What is our power?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="logo-slider">
                {{ range .Site.Data.team }}
                <div class="item">
                    <div class="card_2" id="card">
                        <div class="card_image">
                            <img src="{{ .card_img }}" alt="">
                        </div>
                        <div class="card_heading">
                            <h3>{{ .card_heading }}</h3>
                        </div>
                        <div class="designation"><p>{{ .designation }}</p></div>
                        <div class="job_show" id="job_show">
                        <div class="description" id="desc"><p>{{ .description }}</p></div>
                        <div class="team_icons">
                            <ul>
                                <li><a href="#"><img src="{{ .instra}}" alt=""></a></li>
                                <li><a href="#"><img src="{{ .facebook }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ .link }}" alt=""></a></li>

                            </ul>
                        </div>
                    </div>


                    </div>
                </div>
                {{ end }}

            </div>
        </div>
    </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
 <script>
    $('.logo-slider').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: false,
        arrows: true,
        autoplayspeed: 2000,
        infinite: true,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: false,
        loop: true,
        responsive: [
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplayTimeout: 2000,
                    autoplayHoverPause: false,

                    arrows: false,
                }
            }
        ]
    });
   
 </script>
 <!-- End Team Section -->